//$fonts: 'Source Sans Pro', sans-serif;
$fonts: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

$brand: #0273d4;
$light-grey: #f6f6f6;
$dark-grey: #545555;
$white: #fff;
$card-width: 60px;
$card-height: 42px;
